<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to FrapwithFriends.herokuapp.com, <%= @attendee.username %></h1>
    <p>
      Thanks for joining the event! Have a wonderful time!
      <br />
    </p>
  </body>
</html>