.zero-index {
  display: block;
  position: absolute;
  z-index: -1;   
  width: 100%;
  height: 40%;
  background-image: asset-url('CatFrap.jpg');
  background-size: cover;
  background-position: 0% 40%;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.event-index-header {
      display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}

.show-header-one {
     color: black;
    font-weight: 900;
    margin-top: 15px;
    font-size: 55px;
    margin-bottom: 20px;
    font-family: 'Grenze', serif;
}

.show-header-two {
    color: black;
    font-weight: 350;  
    font-size: 30px;
    font-family: 'Grenze', serif;
}

.event-locations {
  display: flex;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 4%;
  flex-direction: column;
}

.event-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 1%;
}

.event-title img {
  height: 30px;
  width: 30px;
}

.event-locations button {
    margin-left: 0;
    background-color: #006341;
    color: white;
    padding: 8px 55px;
    border-radius: 4px;
    margin-right: 4%;
}

.event-locations button:hover {
  background-color: white;
  color: #1f3833;
  transition: .3s;
  border: 1px solid #1f3833; 
}

.event-locations button:focus {
  background-color: black;
  color: white;
  border: 1px solid #006341;
  transition: .5s;
  outline: none;
}

.event-decoration {
  display: flex;
  background-color: #f1e9c6;
  padding: 35px 110px;
  border-top: 2px solid #1f3833;
}



/* FOR MAP */

#map-container {
  width: 1200px;
  height: 600px;
}

.map-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

/* FOR MAP INFO */

.content-string-img {
  height: 90px;
  width: 90px;
  border-radius: 5px;
}

.last-test {
  margin-bottom: 10px;
}

.event-index-username {
  font-weight: 600;
  color: #006341;
}

.content-string-img p {
  color: #1f3833;
}

.check-out-event {
  background-color: white;
  color: #1f3833;
  padding: 5px 5px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 15px;
}

.check-out-event:hover {
  background-color: #1f3833;
  color: white;
  transition: .3s;
  border: 1px solid white; 
}

.name-of-event {
  font-weight: 500;
}

/* for time */

input[type=time] {
    border: none;
    color: #2a2c2d;
    font-size: 14px;
    font-family: 'Grenze', serif;
    width: 180px;
    background-color: white;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #a0a096;
    margin-top: 3%;
    margin-bottom: 3%;
}

input[type=time]::-webkit-datetime-edit-text {
  padding: 19px 4px;
}

/* hour */
input[type=time]::-webkit-datetime-edit-hour-field {
  background-color: #d6b2ff;
  border-radius: 15%;
  padding: 19px 13px;
}

input[type=time]::-webkit-datetime-edit-minute-field {
  background-color: #d6b2ff;
  border-radius: 15%;
  padding: 19px 13px;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
  background-color: #d6b2ff;
  border-radius: 15%;
  color: #fff;
  padding: 19px 13px;
}

input[type=time]::-webkit-clear-button {
  display: none;
}
