.event-show-wrapper {
  display: flex;
  justify-content: center;
  height: 1000px;
}

.left-section {
  width:25%;
}

.right-section {
  width: 50%;
}

.host-intro {
  
}

.host-subheader {

}

.event-signup button {
  
}

.show-photo {
  height: 30%;
  width: 25%;
  margin: 100px;
  border: 10px white solid;
  border-radius: 5px;
}


.storytime {

}

.story-question {
  font-size: 18px;
  font-weight: 600;
}