.zero-profile {
    display: block;
    position: absolute;
    z-index: -1;   
    width: 100%;
    height: 40%;
    background-image: asset-url('home.png');
    background-size: cover;
    background-position: 0% 80%;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .profile-div {
      display: flex;
      height: 600px;
  }

  .individual-event {
      display: flex;
      width: 38%;
      flex-direction: column;
      border: 1px solid black;
      margin: 5%;
      align-items: center;
  }
  
  .profile-photo {
      width: 50%;
      height: 50%;
  }

  .profile-title {
      text-align: center;
      margin-top: 3%;
      margin-bottom: 3%;
  }