.zero-profile {
    display: block;
    position: absolute;
    z-index: -1;   
    width: 100%;
    height: 40%;
    background-image: asset-url('home.png');
    background-size: cover;
    background-position: 0% 80%;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .profile-div {
      display: flex;
      height: 800px;
  }

  .individual-event {
      display: flex;
      width: 38%;
      flex-direction: column;
      border: 1px solid black;
      margin: 5%;
      align-items: center;
      padding: 10px;
      line-height: 20px;
  }
  
  .profile-photo {
      width: 50%;
      height: 50%;
      margin-top: 5px;
      margin-bottom: 5px;
      border: 5px solid white;
  }

  .profile-title {
      text-align: center;
      margin-top: 35px;
      margin-bottom: 40px;
      font-size: 26px;
      font-weight: 600;
      color: #eda20b;
  }

  .individual-event p:first-of-type {
      color: #ce5310;
      font-size: 19px;
      font-weight: 500;
  }

  .individual-event p:nth-of-type(2) {
    color: #d52717;
  }

  .individual-event p:nth-of-type(3) {
    color: #ac65fd;
  }

  .individual-event a {
      text-decoration: none;
      color: #006340;
  }

  .individual-event a:hover {
      transition: .5s;
      color: #1f3833;
  }